body {
 font-family: sans-serif;
}
.user-search-container{
  display: flex;
  position: relative;
}

.user-input-container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.user-input-container input{
  border: none;
}

.user-input-container input:focus{
  outline: none;
}
.unordered-list{
  max-height: 300px;
  list-style: none;
  overflow-y: scroll;
  padding:0px;
  margin: 0px;
  position: absolute;
  background-color: #fff;
  border:1px solid #ccc;
}

.unordered-list li{
  display: flex;
  align-items: center;
  gap:8px;
  padding: 8px 10px;
  cursor: pointer;
}
.unordered-list img{
  height: 20px;
  width: 20px;
}
.unordered-list li:hover{
  background-color: #ccc;
}